* {
    margin: 0;
    padding: 0;
}


.nav {
    border-style: solid;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    font-family: 'Merriweather', serif;
}

li {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
}

body,
html {
    margin: 30px;
}


h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: 'Merriweather', serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

img.pages {
   float: right;
   padding-left: 5px;
}


.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}
 
.menu-section {
  margin-bottom: 80px;
}
 
.menu-section-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  display: block;
  font-weight: normal;
  margin: 10px 0; 
  text-align: Center;
}
 
.menu-item {
  margin: 35px 0;
  font-size: 18px;
}
 
.menu-item-name{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
  font-size: 18px;
}
 

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
  font-family: 'Merriweather', serif;
  font-size: 12px;
}
 
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: -22px;
}


/* FONT FAMILIES
font-family: 'Adamina', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Muli', sans-serif; */